<div class="container">
    <img src="../../../assets/imgs/ninja-animate.svg" class="ninja" alt="">
    <div class="item2">
        <div class="card-login">
            <h1>LOGIN</h1>
            <div class="textfield">
                <label for="usuario">User</label>
                <input type="text" placeholder="User">
            </div>
            <div class="textfield">
                <label for="login">Login</label>
                <input type="password" placeholder="Senha">
            </div>
            <button class="btn">Login</button>
        </div>    
    </div>
    
</div>